@*<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>*@
<footer style="background-color:#F9F9F9;position:fixed;bottom:0px;width:100%;z-index:100">
    <p class="am-text-center" style="margin-bottom:0px;padding-bottom:1rem;padding-top:1rem;">© 2016 TestWebSite, Inc. All rights reserved.</p>
</footer>